<%- include ('../partials/head.ejs') %>
    <div class=" container mt-4 col-12 d-flex">
        <% if (typeof validaciones != 'undefined'){ %>
          <% validaciones.forEach((valid)=>{%>

            <strong class="btn btn-outline-danger btn-sm"><%=valid%></strong>

             
          <%})%>

        <% } %>
      </div>
      
      <div class="container mt-4 col-12 d-flex">
       
      <div class="card border-secondary">
        <div class="card-header bg-primary text-white text-center">NUEVO REGISTRO</div>
            <div class="card-body">
                <form action="/volante/factura/add" method="post">
                  <div class="row mt-3">
                    <div class="col-12">
                        <input type="hidden" id="id_proc" name="id_proc" value="<%= id_proc %>">
                        
                        <span class="input-group-text d-sm-block bg-primary text-white">IMPORTE</span>
                        <input type="number" min="0"  step=".01" class="form-control" id="importe_fact" name="importe_fact" tabindex="" value="<% if(typeof valores != 'undefined') { %><%= valores.importe_fact %><%}%>">
                    </div>                  
                  </div>

                  <div class="row mt-3">
                    <div class="col-6">
                        <span class="input-group-text d-sm-block bg-primary text-white">NRO. FACTURA</span>
                        <input type="text" class="form-control" id="nro_fact" name="nro_fact" tabindex="0" value="<% if(typeof valores != 'undefined') { %><%= valores.nro_fact %><%}%>">
                    </div>  
                    <div class="col-6">      
                      <span class="input-group-text d-sm-block bg-primary text-white">FEC. FACTURA</span>
                      <input type="date"  class="form-control text-center" id="fch_fact" name="fch_fact" tabindex="1" value=value="<% if(typeof valores.fch_fact != 'undefined') { %><%= valores.fch_fact %><%}%>">
                      
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                        
                        <span class="input-group-text d-sm-block bg-primary text-white">EXPTE. FACTURA</span>
                        <input type="text" class="form-control" id="expte_fact" name="expte_fact" tabindex="" value="<% if(typeof valores != 'undefined') { %><%= valores.expte_fact %><%}%>">
                    </div>                  
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                        
                        <span class="input-group-text d-sm-block bg-primary text-white">OBSERVACIONES</span>
                        <input type="text" class="form-control" id="observ_fact" name="observ_fact" tabindex="" value="<% if(typeof valores != 'undefined') { %><%= valores.observ_fact %><%}%>">
                    </div>                  
                  </div>

                  
                 <div class="row-cols-sm-8 mt-3">                   
                    <button type="submit" class="btn btn-primary" tabindex="6">Guardar</button>
                    <a href="/volante/factura/<%= id_proc %>" class="btn btn-secondary">Volver</a>
                  </div>
                </form>
            </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) {%>
    
      <script>
        
        Swal.fire({
          title: '<%= alertTitle  %>',
          text: '<%= AlertMessage  %>',
          icon: '<%= alertIcon  %>',
          showConfirmButton: '<%= showConfirmButton  %>',
          timer: '<%= timer  %>'
        })
        /* .then(()=>{
          window.location= '<%= ruta %>'
          window.location= '/exptes/create'
        }) */
    
    </script>
      
    
    
    <% } %>  

  
  </body>
</html>